<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}}</title>
    <link rel="stylesheet" type='text/css' href="/css/app.css">
    <div>
        <h1>this is Page's Banh Bao and Trung Cut</h1>
    </div>
</head>
{{{body}}}
<footer>
    <div> Copyright@by Trung Cut and Banh Bao</div>
</footer>
</html>
