<body>
   
    <div>
        <h2>Banh Bao's Info: 18 chủi, hay địt</h2> 
        <div>
            <img src=".\image\banhbao.jpg" alt="HTML5 Icon">
        </div>
        <span>UEH, easy to angry , khó tính , cộc cằn vô duyên</span>
    </div>
    <div>
        <h2>Trung Cut's Info: 20 chủi, also hay địt</h2> 
        <div>
            <img src=".\image\trungcut.jpg" alt="HTML5 Icon">
        </div>

        <span>chịu đựng, tốt tính</span>
    </div>
</body>

