<h1> Document is not available</h1>
<h2>Please go to page marry or home </h2>
<h2>{{{notfound}}}</h2>
<div class="mt-4">
<form action="" method="POST">
  <div class="mb-3 form-group">
    <label for="exampleInputEmail1" class="form-label">Search Page</label>
    <input type="text" name="pn" class="form-control" id="exampleInputEmail1" placeholder="enter name page">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>