<body>
    
    <div>
        <h2 style="text-align: center;">Marry in the future</h2> 
        <div style="text-align: center;">
            <img src=".\image\marry.jpg" alt="HTML5 Icon" style="width:400px; height:500px;">
        </div>
  
   
    </div>
</body>

